@{
    PageData["title"] = "MiniTrello | Board Detail";
}

<div class="container">
    
    <div class="row">
        <div class="row">
        </div>
        <!-- Boxes de Acoes -->
        <div ng-repeat="lane in BoardDetailModel.Lanes">
            <div ng-hide="lane.IsArchived">
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="divider">
                        <div class="icon-next">
                            <div>
                                <h3 class="title">Lane {{lane.Id}}, {{lane.Name}}</h3>
                                <div>
                                    <div ng-repeat="card in lane.Cards">
                                        <div ng-hide="card.IsArchived">
                                            <h4>Card {{card.Id}}, {{card.Name}}</h4>
                                            <p>{{card.Content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group">
                <input type="text" name="newLane" placeholder="Lane Name" ng-model="LaneCreateModel.Name" id="createLane" class="form-control">
                <button ng-click="CreateLane()" class="btn-lg btn-success">Create Lane</button>    
            </div>      
            <div class="form-group">
                <input type="number" placeholder="Lane ID" name="deleteLane" ng-model="LaneDeleteModel.LaneId" id="deleteLane" class="form-control">
                <button ng-click="DeleteLane()" class="btn-lg btn-warning">Delete Lane</button>    
            </div>
            <div class="form-group">
                <input type="number" name="newAddToLane" placeholder="Lane Id" ng-model="CardCreateModel.LaneId" id="createAddToLane" class="form-control">
                <input type="text" name="newCard" placeholder="Card Name" ng-model="CardCreateModel.Name" id="createCard" class="form-control">
                <input type="text" name="content" placeholder="What this card is about." ng-model="CardCreateModel.Content" id="createCard" class="form-control">
                <button ng-click="CreateCard()" class="btn-lg btn-success">Create Card</button>    
            </div>
            <div class="form-group">
                <input type="number" name="destinationLane" placeholder="Destination Lane Id" ng-model="CardMoveModel.DestinationId" id="MoveAddToLane" class="form-control">
                <input type="number" name="cardToMove"      placeholder="Card Id" ng-model="CardMoveModel.CardId" id="MoveCard" class="form-control">
                <button ng-click="MoveCard()" class="btn-lg btn-warning">Move Card</button>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Card ID" name="deleteCard" ng-model="CardDeleteModel.Id" id="deleteCard" class="form-control">
                <button ng-click="DeleteCard()" class="btn-lg btn-warning">Delete Card</button>    
            </div>
            <div class ="row">
                <h2>Members: </h2>
                <div ng-repeat="member in BoardDetailModel.MemberAccounts">
                    <h3>{{member.FirstName}} {{member.LastName}}</h3>
                    <p>{{member.Email}}</p>
                </div>
                <input type="email" placeholder="Member's 'email'" name="inviteMember" ng-model="MemberAddModel.MemberEmail" id="inviteMember" class="form-control">
                <button ng-click="AddMember()" class="btn-lg btn-warning">Add Board Member</button>    
                
            </div>
            <h2>Activity Log</h2>
            <p>{{BoardDetailModel.Log}}</p>
        </div>
        <!-- /Boxes de Acoes -->
    </div>
</div>