<div class="container">
    <div class="row" ng-repeat="organization in organizations.NamesDescription">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <a href="/organization/{{organization.Id}}">
                            <h2>
                                {{organization.Name}}
                            </h2>
                        </a>

                        <p>
                            {{organization.Description}}
                        </p>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <input type="text" name="newOrganizationName" placeholder="Organization Name" ng-model="OrganizationCreateModel.Name" id="newOrganizationName" class="form-control">
            <input type="text" name="newOrganizationDesc" placeholder="Organization Description" ng-model="OrganizationCreateModel.Description" id="newOrganizationDesc" class="form-control">
            <button ng-click="CreateOrganization()" class="btn-lg btn-success">Create Organization</button>
        </div>
    </div>
</div>
