<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=7fcacc60-f328-4198-b40b-a2db00526242.sqlserver.sequelizer.com;Database=db7fcacc60f3284198b40ba2db00526242;User ID=pzotdzlmgekpotls;Password=UetT5NC5uzq3e5ZyQZBWHi6HXCCXCrZAjkAN5jc6AMzQNHxtr83RrLiKgT4zkNzc;"/>
</connectionStrings>